import "test/hello_world/unit/unit"

fn integer$to_str() {
    return "Hello World"
}

fn integer$to_slice_of(v) {
    let a = [];
    for (i = 0; i < self; ++i) => a.push(v)
    return a
}

const a = Unit.new({field: 10})
println(a.field.to_str())
a.set_field(30)
println(a.get_field())
println(a.field.to_slice_of(1).len())

for i in a.field.to_slice_of(1) => print(i)
